@model SportAssovv.Models.DetailsPaiement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailsPaiement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paiement.StatutPaiement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paiement.StatutPaiement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCarte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCarte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomTitulaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomTitulaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateValidite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateValidite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaiementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
