@model IEnumerable<SportAssovv.Models.DetailsPaiement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paiement.StatutPaiement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCarte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomTitulaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateValidite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paiement.StatutPaiement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCarte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomTitulaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateValidite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaiementId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaiementId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaiementId })
        </td>
    </tr>
}

</table>
