@model SportAssovv.Models.Paiement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paiement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adherent.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adherent.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontantPaye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontantPaye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePaiement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePaiement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCarte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCarte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomTitulaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomTitulaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateExpiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateExpiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cvv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaiementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
