@model SportAssovv.Models.Section

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
