@model SportAssovv.Models.DossierInscription
@{
    ViewBag.Title = "Dossier Membre";
    var adherentDetails = Session["AdherentDetails"] as SportAssovv.Models.Adherent;
}

<h2>Créer Dossier</h2>

@using (Html.BeginForm("CreateDossierMembre", "DossierInscriptions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <h3>Dossier d'inscription</h3>
    <hr />
    <!--AdhrentList avec l'adhrent qui est logged in-->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AdherentId, "Adherent", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AdherentId", ViewBag.AdherentId as SelectList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AdherentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Certificat_medical File byte[] Certificat_medical_data -->

    <div class="form-group">
        @Html.LabelFor(model => model.Certificat_medical_data, "Certificat médical", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="certificatFile" />
            @Html.ValidationMessageFor(model => model.Certificat_medical_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--check certificat medical -->
    <div class="form-group">
        @Html.LabelFor(model => model.Certificat_medical)
        @Html.CheckBoxFor(model => model.Certificat_medical)
        @Html.ValidationMessageFor(model => model.Certificat_medical)
    </div>

    <!--Assurance file  byte[] Assurance_data-->

    <div class="form-group">
        @Html.LabelFor(model => model.Assurance_data, "Assurance", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="assuranceFile" />
            @Html.ValidationMessageFor(model => model.Assurance_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--check assurance-->
    <div class="form-group">
        @Html.LabelFor(model => model.Assurance)
        @Html.CheckBoxFor(model => model.Assurance)
        @Html.ValidationMessageFor(model => model.Assurance)
    </div>

    <!-- Check dossier complet -->
    <div class="form-group">
        @Html.LabelFor(model => model.Dossier_complet)
        @Html.CheckBoxFor(model => model.Dossier_complet)
        @Html.ValidationMessageFor(model => model.Dossier_complet)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Envoyer Dossier" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<a href="@Url.Action("AdherentAccount", "AdherentAccount")" class="btn btn-primary">Mon compte</a>