@model SportAssovv.Models.DossierInscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DossierInscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adherent.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adherent.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DossierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DossierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatutInscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatutInscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificat_medical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificat_medical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dossier_complet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dossier_complet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdherentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
