@model SportAssovv.Models.DossierInscription
@{
    ViewBag.Title = "EditDossierMembre";
    var adherentDetails = Session["AdherentDetails"] as SportAssovv.Models.Adherent;
    //message de succes pour le changement de l'inscription
    var successMessage = TempData["SuccessMessage"] as string;
}

<style>

    body {
        background-color: #EED7C1;
    }
</style>

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}

<h2>Modifier le dossier d'inscription</h2>

@using (Html.BeginForm("EditDossierMembre", "DossierInscriptions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    <!--l'adhrent qui est logged in-->
    @Html.HiddenFor(model => model.AdherentId)
    <!-- Certificat_medical File byte[] Certificat_medical_data -->
    <div class="form-group">
        @Html.LabelFor(model => model.Certificat_medical_data, "Certificat", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="certificatFile" />
            @Html.ValidationMessageFor(model => model.Certificat_medical_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Certificat Existant", "DownloadCertificat", "DossierInscriptions", null, new { @class = "btn btn-primary" })
    </div>

    <!--check certificat medical -->
    <div class="form-group">
        @Html.LabelFor(model => model.Certificat_medical)
        @Html.CheckBoxFor(model => model.Certificat_medical)
        @Html.ValidationMessageFor(model => model.Certificat_medical)
    </div>

    <!--Assurance file  byte[] Assurance_data-->
    <div class="form-group">
        @Html.LabelFor(model => model.Assurance_data, "Assurance", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="assuranceFile" />
            @Html.ValidationMessageFor(model => model.Assurance_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Assurance Existante", "DownloadAssurance", "DossierInscriptions", null, new { @class = "btn btn-primary" })
    </div>


    <!--check assurance-->
    <div class="form-group">
        @Html.LabelFor(model => model.Assurance)
        @Html.CheckBoxFor(model => model.Assurance)
        @Html.ValidationMessageFor(model => model.Assurance)
    </div>

    <!-- Check dossier complet -->
    <div class="form-group">
        @Html.LabelFor(model => model.Dossier_complet)
        @Html.CheckBoxFor(model => model.Dossier_complet)
        @Html.ValidationMessageFor(model => model.Dossier_complet)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Envoyer Dossier" class="btn btn-default" />
        </div>
    </div>
</div>
}

<a href="@Url.Action("AdherentAccount", "AdherentAccount")" class="btn btn-primary">Mon compte</a>