@model SportAssovv.Models.DisciplineAdherent
@{
    ViewBag.Title = "CreateMembre";
    var adherentDetails = Session["AdherentDetails"] as SportAssovv.Models.Adherent;

}

<style>

    body {
        background-color: #EED7C1;
    }
</style>

<h2>S'inscrire dans une discipline</h2>

@using (Html.BeginForm("CreateMembre", "DisciplineAdherents", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!--AdhrentList avec l'adhrent qui est logged in-->
    <div class="form-group">
        @Html.LabelFor(model => model.AdherentId, "Adherent", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AdherentId", ViewBag.AdherentId as SelectList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AdherentId, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--Discipline-->

    <div class="form-group">
        @Html.LabelFor(model => model.DisciplineId, "DisciplineId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DisciplineId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DisciplineId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="S'inscrire" class="btn btn-default" />
        </div>
    </div>
</div>
}

<a href="@Url.Action("AdherentAccount", "AdherentAccount")" class="btn btn-primary">Mon compte</a>