@model SportAssovv.Models.Adherent
@{
    ViewBag.Title = "AdherentAccount";
    // Vérifiez que les détails de l'adhérent sont dans la session
    var adherentDetails = Session["AdherentDetails"] as SportAssovv.Models.Adherent;
}

@if (adherentDetails != null)
{
    <h2>Bienvenue, @adherentDetails.Prenom!</h2>
    <div>
        <dl class="dl-horizontal">
            <dt class="font-weight-normal">Nom : @adherentDetails.Nom</dt>
            <dt>Prenom : @adherentDetails.Prenom</dt>
            <dt>Email : @adherentDetails.Email</dt>
            <dt>Adresse :  @adherentDetails.Adresse</dt>
            <dt>Telephone : @adherentDetails.Telephone</dt>
            <dt>Date de Naissance: @adherentDetails.DateNaissance</dt>
            <dt>Mot de Passe : @adherentDetails.MotDePasse </dt>
            <dt>Disciplines : @adherentDetails.Disciplines</dt>
        </dl>
    </div>

    <div>
        <a href="@Url.Action("EditMembre", "Adherents")" class="btn btn-light mb-3">Editer Inscription</a>
        <a href="@Url.Action("CreateDossierMembre", "DossierInscriptions")" class="btn btn-light mb-3">Remplir Dossier</a>
        <a href="@Url.Action("EditMembre", "DossierInscriptions")" class="btn btn-light mb-3">Editer Dossier</a>
        <button>Payer</button>
    </div>
}
else
{
    <p>Les détails de l'adhérent ne sont pas disponibles.</p>
}

