
@model SportAssovv.Models.ViewModels.AdherentDossierViewModel
@{
    ViewBag.Title = "AdherentAccount";
}

<h2>Ton compte</h2>

<h2>Bienvenue, @Model.Adherent.Prenom!</h2>

<div>
    <p>Nom: @Model.Adherent.Nom</p>
    <p>Prenom: @Model.Adherent.Prenom</p>
    <p>Email: @Model.Adherent.Email</p>
    <p>Telephone: @Model.Adherent.Telephone</p>
    <p>Adresse: @Model.Adherent.Adresse</p>
    <p>Date de Naissance: @Model.Adherent.DateNaissance</p>
    <p>Mot de Passe: @Model.Adherent.MotDePasse</p>
    <p>Role: @Model.Adherent.Role</p>
</div>

<h3>Dossier</h3>
<div>

</div>
