
@model SportAssovv.Models.Adherent
@{
    ViewBag.Title = "AdherentAccount";
}

<h2>Ton compte</h2>

<h2>Bienvenue, @Model.Prenom!</h2>

<div>
    <p>Nom: @Model.Nom</p>
    <p>Prenom: @Model.Prenom</p>
    <p>Email: @Model.Email</p>
    <p>Telephone: @Model.Telephone</p>
    <p>Adresse: @Model.Adresse</p>
    <p>Date de Naissance: @Model.DateNaissance</p>
    <p>Mot de Passe: @Model.MotDePasse</p>
    <p>Role: @Model.Role</p>
</div>

<h3>Dossier</h3>
<div>

    <p>Propriedade1: @Model.DossierInscription.DossierId</p>

</div>
