@model SportAssovv.Models.Adherent

@{
    ViewBag.Title = "AdminAccount";
    // Vérifiez que les détails de l'adhérent sont dans la session
    var adherentDetails = Session["AdherentDetails"] as SportAssovv.Models.Adherent;
}

<style>
    .background-img {
        background-image: url('../../Images/compteAdmin.png');
        height: 100vh;
    }
</style>
<section class="background-img">

    @if (adherentDetails != null)
    {<div class="container">
            <h2 class="text-white">Compte Administrateur</h2>

            <h2 class="text-white">Bienvenue, @adherentDetails.Prenom!</h2>

            <div class="row">
                <div class="col">
                    @Html.ActionLink("Gestion de Disciplines", "Index", "Disciplines", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Gestion de Adherents", "Index", "Adherents", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Liste de Messages", "Index", "Contacts", null, new { @class = "btn btn-light mb-3" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.ActionLink("Gestion de Sections", "Index", "Sections", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Gestion de Paiements", "Index", "Paiements", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Gestion de Dossiers", "Index", "DossierInscriptions", null, new { @class = "btn btn-light mb-3" })
                </div>
            </div>
     </div>
    }
    else
    { <div class="container">
            <p class="text-white">Les détails de l'administrateur n'est pas disponible.</p>
      </div>
    }

</section>