@model SportAssovv.Models.Adherent

@{
    ViewBag.Title = "AdminAccount";
    // Vérifiez que les détails de l'adhérent sont dans la session
    var adherentDetails = Session["AdherentDetails"] as SportAssovv.Models.Adherent;
}

<style>
    body {
        background-image: url('../../Images/compteAdmin.png');
        height: 100vh;
    }
</style>


    @if (adherentDetails != null)
    {<div class="container">
            <div class="row mb-3">
                <h2 class="text-white">Compte Administrateur</h2>

                <h2 class="text-white">Bienvenue, @adherentDetails.Prenom!</h2>
            </div>

       
            <div class="row align-items-center">
                <div class="col">
                <div class="w-100"></div>
                    @Html.ActionLink("Gestion de Disciplines", "Index", "Disciplines", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Gestion de Adherents", "Index", "Adherents", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Liste de Messages", "Index", "Contacts", null, new { @class = "btn btn-light mb-3" })
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    @Html.ActionLink("Gestion de Sections", "Index", "Sections", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Gestion de Paiements", "Index", "Paiements", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Download de Fichiers", "DownloadFiles", "DossierInscriptions", null, new { @class = "btn btn-light mb-3" })
                </div>
                <div class="col">
                    @Html.ActionLink("Inscrits en Disciplines", "Index", "DisciplineAdherents", null, new { @class = "btn btn-light mb-3" })
                </div>
            </div>   
        </div>
  
    }
    else
    { <div class="container">
            <p class="text-white">Les détails de l'administrateur ne sont pas disponibles.</p>
      </div>
    }

