@model SportAssovv.Models.Discipline

@{
    ViewBag.Title = "Delete";
}

<style>
    body {
        background-color: #EBE3EF;
    }
</style>

<h2>Supprimer </h2>

<h3>Etes vous sûre de vouloir supprimer ? </h3>
<div>
    <h4>Discipline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomDiscipline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomDiscipline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacesDisponibles)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<br/>
<a href="@Url.Action("AdminAccount", "AdherentAccount")" class="btn btn-primary">Compte Administrateur</a>