@model SportAssovv.Models.Creneaux

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Creneaux</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section.NomSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.NomSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JourHeureDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JourHeureDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CreneauHoraireId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
