@model IEnumerable<SportAssovv.Models.Creneaux>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Section.NomSection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JourHeureDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Section.NomSection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JourHeureDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeureFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CreneauHoraireId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CreneauHoraireId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CreneauHoraireId })
        </td>
    </tr>
}

</table>
